* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
  background: #F9F9FB;
  margin: 0;
  font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
  text-align: center;
  color: #1F1840;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

/* ===== section 간격 공통 ===== */
.sec-pd {
  padding-top: 9.375rem; /* 150px */
  padding-bottom: 9.375rem;
}

/* about */
.about {
  width: 100%;
  background: #F9F9FB;
}

.about-title {
  font-family: "Shrikhand", serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 300;
  color: #1E4DB4;
  text-align: center;
  margin-bottom: 3.75rem; /* 60px */
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}

.about-image,
.about-texts {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.625rem;
}

.about-texts {
  text-align: left;
}

.about-texts p {
  font-size: 1.125rem;
  line-height: 1.75;
  color: #1F1840;
}

.about-texts p + p {
  margin-top: 1.5rem;
}

/* strength */
.strength {
  width: 100%;
  background: #1E4DB4;
}

.strength-title {
  font-family: "Shrikhand", serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3.75rem; /* 60px */
}

.strength-cards {
  display: flex;
  gap: 1rem; /* 16px */
}

.strength-card {
  width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    color: #1F1840;
  background: #ffffff;
  padding: 2.5rem 0.625rem;
  border-radius: 1.25rem;
  text-align: center;
  min-height: 100%;
}

.strength-card:hover {
  color: #1E4DB4;
}

.strength-card:hover .strength-icon path {
  fill: #1E4DB4;
}

.strength-card:last-child:hover path {
  fill: none;
  stroke: #1E4DB4;
}

.strength-icon {
  display: block;
  width: 3rem;
  height: auto;
  margin-bottom: 1.5rem;
}

.strength-card h3 {
  font-size: 1.5625rem; /* 25px */
  font-weight: 700;
  margin-bottom: 1rem;
}

.strength-card p {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75;
}

/* skill-license */
.skill-license {
  width: 100%;
  background: #fff;
}

.skill-license.sec-pd {
  padding-bottom: 0;
}

.skill-license-title {
  font-family: "Shrikhand", serif;
  font-size: 2.5rem; /* 40px */
  font-weight: 300;
  color: #1E4DB4;
  margin-bottom: 3.75rem; /* 60px */
  text-align: center;
}

.skill-subtitle,
.license-subtitle {
  font-family: "Shrikhand", serif;
  font-size: 1.875rem; /* 30px */
  font-weight: 300;
  margin: 0 0 2.5rem; /* 40px */
  color: #1F1840;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-card {
  width: calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
  padding: 1.25rem 0.625rem;
  border-radius: 1rem;
  background: #ffffff;
  border: 1px solid #1F1840;
}

.skill-card-head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skill-card-head img {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
}

.skill-card-icon-wrap {
  display: flex;
  gap: 1rem;
}

.skill-card h4 {
  font-size: 1.5625rem; /* 25px */
  font-weight: 700;
  margin: 0;
  color: #1F1840;
}

.skill-card p {
  font-size: 1.25rem; /* 20px */
  margin: 0;
  line-height: 1.7;
  text-align: left;
}

.license {
  margin-top: 3.75rem;
  text-align: left;
}

.license-list {
  display: table;
}

.license-item {
  padding: 0 1.5rem;
  font-size: 1.25rem;
  background: #fff;
  list-style: disc;
  margin-left: 2.5rem;
}

/* experience */
.experience {
  width: 100%;
  background: #fff;
}

.experience.sec-pd {
  padding-bottom: 0;
}

.experience-title {
  font-family: "Shrikhand", serif;
  font-size: 2.5rem; /* 40px */
  color: #1E4DB4;
  margin-bottom: 3.75rem; /* 60px */
  text-align: left;
  font-weight: 300;
}

.experience-wrap {
  display: flex;
  gap: 1rem;
  text-align: left;
}

.experience-education {
  width: 60%;
}

.experience-career {
  width: 40%;
}

.experience-subtitle {
  font-family: "Shrikhand", serif;
  font-size: 1.875rem; /* 30px */
  font-weight: 300;
  color: #1F1840;
  margin-bottom: 2.5rem; /* 40px */
  border-bottom: 2px solid #1F1840;
  display: inline-block;
}

.experience-items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.experience-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.exp-date {
  display: block;
  font-size: 1.25rem; /* 20px */
  color: #1F1840;
  font-weight: 600;
}

.exp-desc {
  display: block;
  font-size: 1.25rem; /* 20px */
  color: #1F1840;
  margin: 0;
  line-height: 1.6;
}

/* contact */
.contact {
  width: 100%;
  background: #fff;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-family: "Shrikhand", serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #1E4DB4;
  text-align: center;
  margin-bottom: 3.75rem;
}

.contact-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-texts p {
  font-size: 1.875rem;
  color: #1F1840;
}

.contact-texts p + p {
  font-size: 1.875rem;
  margin-top: 20px;
}

.contact-info {
  margin-top: 60px;
}

.email-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.email-wrap:hover a {
  color: #1E4DB4;
}

.email-wrap:hover path {
  stroke: #1E4DB4;
}

.contact-info img {
  width: 24px;
  height: 24px;
  display: block;
}

.contact-info a {
  font-size: 1.25rem;
  color: #1F1840;
  font-weight: 500;
}

.contact-cta {
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 40px;
  border: 1px solid #1F1840;
  padding: 10px 30px;
  border-radius: 6.25rem;
  color: #1F1840;
  transition: transform 0.3s ease;
}

.contact-cta:hover {
  background-color: #1F1840;
  color: #ffffff;
  transform: translateY(-0.25rem);
}


/* ===== 반응형 ===== */
@media (max-width: 1000px) {
  /* about */
  .about-title,
  .strength-title {
    margin-bottom: 3rem;
  }

  .about-content {
    gap: 2rem;
  }

  .about-texts p {
    font-size: 1.0625rem;
  }

  /* strength */
  .strength-cards {
    gap: 0.75rem;
  }

  /* skill-license */
  .skill-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  /* about */
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-image,
  .about-texts {
    width: 100%;
  }

  .about-texts {
    text-align: left;
    max-width: 48rem;
  }

  /* skill-license */
  .skill-card {
    width: calc((100% - 16px) / 2);
  }

  /* experience */
  .experience-grid {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .sec-pd {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  /* about */
  .about-title,
  .strength-title,
  .contact-title {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
  }

  .about-content {
    gap: 1.5rem;
  }

  .about-texts p,
  .strength-card p {
    font-size: 1.125rem;
  }
  
  /* strength */
  .strength-cards {
    flex-direction: column;
  }

  .strength-card {
    width: 100%;
    height: 18.75rem;
    padding: 1.25rem;
  }

  .strength-card h3 {
    font-size: 1.4375rem;
  }

  /* skill-license */
  .skill-license-title {
    margin-bottom: 2.5rem; /* 40px */
    font-size: 2.25rem;
  }

  .skill-subtitle, .license-subtitle {
    font-size: 1.5625rem;
  }

  .skill-card {
    padding: 1.25rem;
  }

  .skill-card h4 {
    font-size: 1.25rem;
  }

  .skill-card p {
    font-size: 1.125rem;
  }

  .skill-card-head img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .license-list {
    flex-direction: column;
    align-items: stretch;
  }

  .license-item {
    font-size: 1.125rem;;
  }

  /* experience */
  .experience-title {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
  }

  .experience-subtitle {
    font-size: 1.5625rem;
    margin-bottom: 1.875rem;
  }

  .exp-date,
  .exp-desc {
    font-size: 1.125rem;
  }

  .experience-items {
    gap: 1.5rem;
  }

  /* contact */
  .contact-texts p {
    font-size: 1.25rem;
  }

  .contact-texts p + p {
    font-size: 1.25rem;
  }

  .contact-info {
    gap: 12px;
    margin-top: 2.5rem;
  }

}

@media (max-width: 600px) {
  .about-content {
    padding: 0 0.5rem;
  }

  /* skill-license */
  .skill-card {
    width: 100%;
  }

  /* experience */
  .experience-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 514px) {
  .about-title,
  .strength-title,
  .contact-title,
  .skill-license-title {
    font-size: 2rem;
  }
  
  .about-content {
    gap: 1rem;
  }

  .about-texts p,
  .strength-card p,
  .skill-card p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .skill-subtitle,
  .license-subtitle {
    font-size: 1.5rem;
  }

  .strength-card h3,
  .skill-card h4 {
    font-size: 1.375rem;
  }

  /* skill-license */
  .license-item {
    font-size: 1rem;
  }

  /* experience */
  .experience-title {
    font-size: 2rem;
  }

  .experience-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .exp-date,
  .exp-desc {
    font-size: 1rem;
  }

  .experience-items {
    gap: 1.25rem;
  }

  /* contact */
  .contact-texts p {
    font-size: 1.125rem;
  }

  .contact-texts p + p {
    font-size: 1.125rem;
  }

  .contact-info a {
    font-size: 1.125rem;
  }

}