* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
  list-style: none;
}

body {
  background: #F9F9FB;
  margin: 0;
  font-family: 'Pretendard', 'Noto Sans KR', Arial, sans-serif;
  text-align: center;
  color: #09172C;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

/* ===== section 간격 공통 ===== */
.sec-pd {
  padding-top: 9.375rem; /* 150px */
  padding-bottom: 9.375rem;
}

/* ===== kv-section & 컨테이너 ===== */
.kv-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  background-color: #2B6ED3;
  overflow: hidden;
}

.kv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem; /* 40px */
}

.main-title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: left;
  padding: 21rem 0 15rem;
}

.main-title {
  font-size: 6.875rem; /* 110px */
  font-weight: 600;
  font-family: "Brygada 1918", serif;
  line-height: 1.1;
  position: relative;
  z-index: 44;
  align-self: flex-start;
}

.main-title::before {
  content: "";
  display: block;
  width: 100%;
  height: 1.875rem; /* 30px */
  background-color: #FF9ABF;
  position: absolute;
  top: 13.125rem;
  z-index: -1;
}

.main-sub-title {
  font-size: 1.5rem;
  align-self: flex-end;
  line-height: 1.6;
}

.main-sub-title span {
  font-weight: 700;
}

.sub-text-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3.75rem; /* 60px */
  justify-content: center;
  align-items: center;
  font-size: 1.875rem; /* 30px */
  color: #E2F3FF;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5rem;
}

.sub-text-track {
  top: 10rem;
  display: inline-flex;
  animation: text-flow 30s linear infinite;
  font-family: "Brygada 1918", serif;
  opacity: 0.5;
}

.sub-text-track-reverse {
  display: inline-flex;
  animation: text-flow-reverse 30s linear infinite;
  font-family: "Brygada 1918", serif;
  opacity: 0.5;
}

.sub-text-wrap span {
  padding-right: 3.75rem
}

@keyframes text-flow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes text-flow-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(33.333%);
  }
}

/* ===== about-section ===== */
.about-section {
  background-color: #09172C;
}

.about-title {
  font-size: 2rem; /* 32px */
  color: #fff;
  text-align: center;
  line-height: 1.6;
}

.about-title strong {
  font-weight: 700;
}

.about-desc {
  font-size: 1.5rem; /* 24px */
  color: #fff;
  text-align: left;
  font-weight: 400;
  line-height: 1.6;
}


.about-bottom {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  font-size: 2rem; /* 32px */
  color: #fff;
  text-align: left;
  margin-top: 3.75rem;
}

/* ===== skill-wrapper ===== */
.skill-wrapper {
  margin-top: 2.5rem; /* 40px */
}

.skill-main-title {
  font-size: 1.875rem; /* 30px */
  color: #fff;
  text-align: left;
  margin-bottom: 3.125rem;
  font-family: "Brygada 1918", serif;
  letter-spacing: 10%;
  font-weight: 700;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem; /* 60px */
}

.skill-category {
  display: flex;
  flex-direction: column;
}

.skill-items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.skill-icon {
  width: 1.5625rem;
  height: 1.5625rem;
  display: block;
}

.skill-category-title {
  width: auto;
  font-size: 1.5rem; /* 24px */
  color: rgba(255, 255, 255, 0.5);
  font-family: "Brygada 1918", serif;
  letter-spacing: 10%;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.25rem;
  position: relative;
  display: inline-block;
  align-self: flex-start;
}

.skill-category-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color:  rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 2rem;
  left: 0;
}

.skill-icon-wrap {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.skill-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  font-size: 1.5rem; /* 24px */
  color: #fff;
  font-family: "Brygada 1918", serif;
  font-weight: 400;
  align-items: center;
}

.skill-item-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  display: block;
}

.skill-bar {
  grid-column: 1 / -1;
  width: 100%;
  height: 0.625rem; /* 10px */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6.25rem;
  overflow: hidden;
}

.skill-bar-fill {
  height: 100%;
  background: #fff;
  border-radius: 6.25rem;
  width: 0;
  transition: width 0.8s ease-out;
}

.skill-bar-fill.active {
  /* 애니메이션 완료 */
}

/* ===== project-section ===== */
.project-section {
  background-color: #09172C;
  text-align: left;
}

.project-swiper {
  position: relative;
}

.project-swiper .swiper-wrapper {
  min-height: 600px;
}

.project-swiper .swiper-slide {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.project-slide a{
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
}

.project-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.project {
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
}

.project-blue {
  background-image: url(../images/project-blue.png);
}

.project-netflix {
  background-image: url(../images/project-netflix.png);
}

.project-beakyang {
  background-image: url(../images/project-beakyang.png);
}

.project-lumid {
  background-image: url(../images/project-Lumid.png);
}

.project-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* justify-content: space-between; */
  align-items: start;
  position: relative;
  z-index: 20;
  padding-top: 9.375rem;
}

.project-left {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.project-title {
  font-size: 2rem; /* 32px */
  font-weight: 700;
  color: #fff;
}

.project-line {
  width: 6.25rem; /* 100px */
  height: 3px;
  background-color: #fff;
}

.project-desc {
  font-size: 1.5rem; /* 24px */
  color: #fff;
  line-height: 1.6;
}

.project-right {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.project-info-group {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.project-info-title {
  width: auto;
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  color: #fff;
  font-family: "Brygada 1918", serif;
  letter-spacing: 10%;
  position: relative;
  display: inline-block;
  margin-bottom: 0.625rem;
  align-self: flex-start;
}

.project-info-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 2.1875rem;
  left: 0;
}

.project-info-text {
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px */
  color: #fff;
}

.project-skills li {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  font-family: "Brygada 1918", serif;
}

.swiper-button-prev.project-button-prev,
.swiper-button-next.project-button-next {
  width: 5%;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

/* contact */
.contact-section {
  background-color: #2B6ED3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.contact-title {
  font-size: 1.875rem;
  color: #E2F3FF;
  font-weight: 700;
  font-family: "Brygada 1918", serif;
  margin-bottom: 3.75rem;
}

.contact-mail {
  color: #fff;
  font-family: "Brygada 1918", serif;
  font-weight: 700;
  font-size: 5rem;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.contact-mail::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.875rem;
  top: 4.5rem;
  left: 0;
  background-color: #FF9ABF;
  z-index: -1;
  transition: width 0.4s ease;
}

.contact-mail:hover::after {
  width: 100%;
}

.contact-desc {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 3.75rem;
  line-height: 1.6;
}


/* ===== 반응형 ===== */
@media(max-width: 1400px) {
  /* project */
  .project {
    background-position: 40%;
  }
}

@media (max-width: 1024px) {
  /* kv */
  .main-title-box {
    padding: 18rem 0 12rem;
  }

  .main-title {
    font-size: 5.625rem;  
  }

  .main-title::before {
    top: 10.7rem;
    height: 1.25rem;
  }

/* about */
  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content {
    flex-direction: column;
    gap: 2.5rem;
  }

  .about-right {
    flex-direction: row;
  }

  .about-text-box {
    flex: 1;
  }

  /* project */
  .project {
    background-position: center;
  }
  
  .project-content {
    padding-left: 2rem;
  }

  .project-right {
    flex-direction: column;
    gap: 1.875rem;
  }

  .project-skills {
    flex-direction: row;
  }

  /* contact */
  .contact-mail {
    font-size: 4.375rem;
  }

  .contact-mail::after {
    height: 1.875rem;
    top: 4rem;
  }

}

@media (max-width: 800px) {
  /* kv */
  .main-title {
    font-size: 5rem;
  }

  .main-title::before {
    top: 9.5rem;
  }

  /* project */
  .project-skills li{
    font-size: 1rem;
  }

  /* contact */
  .contact-mail {
    font-size: 3.75rem;
  }

  .contact-mail::after {
    height: 1.875rem;
    top: 3.5rem;
  }
}

@media (max-width: 768px) {
  .sec-pd {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
  
  /* kv */
  .main-title {
    font-size: 4.375rem;
  }

  .main-title::before {
    top: 8.3rem;
  }

  .main-sub-title {
    font-size: 1.125rem;
  }

  .sub-text-wrap {
    gap: 1.25rem;
    font-size: 1.5rem;
  }

  /* about */
  .about-title {
    font-size: 1.5rem;
  }

  .about-desc {
    font-size: 1.125rem;
  }

  .about-text-item {
    font-size: 1.125rem;
  }

  .skill-main-title {
    font-size: 1.5rem;
  }

  .skill-category-title {
    font-size: 1.125rem;
  }

  .skill-item {
    font-size: 1.125rem;
  }

  .skill-grid {
    grid-template-columns: 1fr;
  }

  .about-right {
    flex-direction: column;
  }

  /* project */
  .project-content {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding-top: 6.25rem;
  }

  .project-swiper .swiper-wrapper {
    min-height: auto;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-desc {
    font-size: 1.125rem;
  }

  .project-info-title {
    font-size: 1.25rem;
  }

  .project-info-text {
    font-size: 1rem;
  }

  .project-skills li {
    font-size: 1rem;
  }

  .swiper-button-prev.project-button-prev,
  .swiper-button-next.project-button-next {
    font-size: 1.5rem;
  }

  /* contact */
  .contact-title {
    font-size: 1.125rem;
  }

  .contact-mail {
    font-size: 3.125rem;
  }

  .contact-mail::after {
    top: 2.5rem;
  }

  .contact-desc {
    font-size: 1.125rem;
  }
}


@media (max-width: 600px) {
  /* kv */
  .main-title-box {
    flex-direction: column;
    gap: 2.5rem;
    padding: 15rem 0 8rem;
  }

  .main-sub-title {
    align-self: stretch;
  }

  /* about */
  .about-title {
    font-size: 1.25rem;
  }

  .about-bottom {
    flex-direction: column;
    gap: 1.25rem;
  }

  .about-desc {
    font-size: 1rem;
  }

  .skill-main-title {
    font-size: 1.25rem;
  }

  .skill-grid {
    gap: 1.875rem;
  }

  .skill-category-title {
    font-size: 1rem;
  }

  .skill-item {
    font-size: 1rem;
  }

  /* contact */
  .contact-mail {
    font-size: 2.25rem;
  }

  .contact-mail::after {
    height: 0.9375rem;
    top: 2rem;
  }
}

@media (max-width: 514px) {
  /* kv */
  .main-title-box {
    gap: 1.25rem;
  }
  .main-title {
    font-size: 3.75rem;
  }

  .main-title::before {
    top: 7.2rem;
  }

  .main-sub-title {
    font-size: 1rem;
  }

  /* about */
  .about-title {
    font-size: 1.125rem;
  }

  .about-bottom {
    margin-top: 2.5rem;
  }

  .skill-main-title {
    font-size: 1.125rem;
  }

  .skill-item-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .skill-category-title::after {
    top: 1.5rem;
  }

    /* contact */
  .contact-title {
    margin-bottom: 2.5rem;
  }

  .contact-mail {
    font-size: 1.5rem;
  }

  .contact-mail::after {
    height: 0.9375rem;
    top: 2rem;
  }

  .contact-desc {
    margin-top: 2.5rem;
  }
}
